.userList {
  width: 320px;
  max-height: 70dvh;
  min-height: 60px;
  background: rgb(220, 208, 247);
  position: absolute;
  right: 36.9%;
  top: 70px;
  overflow-y: auto;
  border-radius: 20px;
  transition: all 300ms;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}
